#sorting-hat {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: gray;
}


.expelBtn {
  background-color: red;
  border: solid 1px red;
}


#formButton {
  margin-top: 8px;
}


#thisWasBotheringMe {
  font-size: larger;
  font-weight: bold;
  text-align: center;
  position: relative;
  align-self: center;
  left: 2rem;
  color: white;
}


form {
  display: flex;
  justify-content: center;
  background-color: rgba(40, 17, 1, 0.901);
  border: solid steelblue 4px;
  width: 450px;
  flex-direction: row;
  flex-wrap: wrap;
  position: sticky;
  margin: 5px;
  left: 38%;
}


#entryForm {
  display: none;
}


#sortButtons {
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-content: space-around;
  margin: 5px;
}


.btn {
  width: 250px;
}


#cardHolder {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 100px;
  width: 1500px;
  left: 8%;
  
}


#students, #banished {
  flex-grow: 8;
  display: flex;
  /* background-color: springgreen; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  width: 45%;

}


.listed {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-end;
  align-self: flex-end;
  /* position: relative; */
  width: max-content;
}










@media (max-width: 600px) {
  #students, #banished {
    background-color: blue;
    color: red;
    flex-direction: column;
  }
  form {
    left: 20%;
  }
  #cardHolder{
    position: static;
    left: 0;
    width: fit-content;
  }
}
